<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul class="list-style none">
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Development</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About Me</h3>
                </div>
                <div class="col-md-6 item text">
                    <h3>Lara Souza</h3>
                    <p>Software Engineer's bachelor Degree student and intern at LEAD Dell</p>
                </div>
                <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">Lara Souza © 2021</p>
        </div>
    </footer>    