<div class ="d-flex justify-content-center flex-wrap mb-5 mt-5">
   <label id ="welcome" >BERRIES</label> 
</div>

<div class="d-flex justify-content-end mt-5">
    <div>
        <form class="d-flex p-2">
            <input type="text" class="form-control mb-5" placeholder="Berrie's Name " [(ngModel)]="searchedBerrie"
                [ngModelOptions]="{ standalone: true }" />
        </form>
    </div>
</div>

<div class ="d-flex justify-content-center flex-wrap mt-2" id="berries">
    <app-berries-card *ngFor ="let berry of berries | filter:searchedBerrie" [berry] = "berry" ></app-berries-card>
</div>

<ngx-spinner 
bdColor="rgba(24,27,29,255)"
template="<img src='https://cdn.dribbble.com/users/621155/screenshots/2835314/simple_pokeball.gif'/>"></ngx-spinner>