
.navbar-brand // elements from nav-bar
    font-size: 22px
    color: #003A70
    font-family: 'Pokemon Solid', sans-serif
    -webkit-text-stroke-width: 1px 
    -webkit-text-stroke-color: #fff
    z-index: 3
    &:hover
        font-size: 26px
        color: #FFCB05
        -webkit-text-stroke-color: #003A70
    &:focus
        color: #ffa500
        -webkit-text-stroke-color: #000