
#text
  right: 300px
  top: 150px
  font-size: 100px
  color: #ffcb05
  font-family: 'Pokemon Solid', sans-serif
  -webkit-text-stroke-width: 7px 
  -webkit-text-stroke-color: #003A70  

#text-img
  right: 300px
  top: 150px
  font-size: 150px
  font-family: 'Pokemon Solid', sans-serif
  background-image: url('https://i.pinimg.com/originals/ab/a3/3f/aba33f8d5884213a2d8c8d520c7199bf.jpg')
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  -webkit-text-stroke-width: 1px 
  -webkit-text-stroke-color: #fff