
  
.img-fluid
  filter: brightness(56%)
  position: relative
  
#text
  position: absolute
  right: 300px
  top: 150px
  font-size: 90px
  color: #FFCB05
  font-family: 'Pokemon Solid', sans-serif
  -webkit-text-stroke-width: 4px 
  -webkit-text-stroke-color: #3D7DCA

